.doughnut-container {
    position: relative;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.doughnut-chart-underlay {
    position: relative;
    width: 100%;
    height: 100%;
}

.doughnut-chart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.doughnut-chart-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    text-align: center;
}
.doughnut-chart-text-container > p {
    margin: 0
}

.fill-percent-text {
    font-size: var(--font-size-h1);
}

.doughnut-title {
    width: 100%;
    margin: 16px;
}