.input {
    width: 100%;
    font-size: var(--font-size-h1);
    border-radius: var(--border-radius-default);
    border: var(--border-default);
    border-color: #95b9df;
    margin: 8px 0;
    padding: 4px;
}

.input::placeholder {
    font-size: var(--font-size-h2);
}