.widget-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 16px;
    margin: 16px;
    background: white;
    border-radius: var(--border-radius-default);
    border: var(--border-default);
    box-shadow: 1px 1px 1px 1px #dcd9d9;
    justify-content: space-around;
}

.widget-header {
    width: 100%;
}

.widget-header > h3 {
    margin: 0;
}