.commission-totals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
}

.commission-totals p {
    font-size: var(--font-size-large);
    margin: 0;
}
